<h1>{{ name }}经济史</h1>
<iframe
  width="900"
  height="500"
  seamless
  frameborder="0"
  scrolling="no"
  src="./经济史/基础资源储量.html"
></iframe>
<iframe
  width="900"
  height="500"
  seamless
  frameborder="0"
  scrolling="no"
  src="./经济史/基础资源月收入.html"
></iframe>

<iframe
  width="900"
  height="500"
  seamless
  frameborder="0"
  scrolling="no"
  src="./经济史/工业资源储量.html"
></iframe>
<iframe
  width="900"
  height="500"
  seamless
  frameborder="0"
  scrolling="no"
  src="./经济史/工业资源月收入.html"
></iframe>

<iframe
  width="900"
  height="500"
  seamless
  frameborder="0"
  scrolling="no"
  src="./经济史/稀有资源储量.html"
></iframe>
<iframe
  width="900"
  height="500"
  seamless
  frameborder="0"
  scrolling="no"
  src="./经济史/稀有资源月收入.html"
></iframe>
