<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}史</title>
    <link rel="stylesheet" href="./static/element-plus2.7.7.index.css" />
    <script src="./static/echarts4.7.0.min.js"></script>
    <script src="./static/vue@3.4.31.global.js"></script>
    <script src="./static/element-plus2.7.7.index.full.min.js"></script>

    <style>
      .el-main {
        position: absolute;
        left: 20vw;
        right: 0;
        top: 0;
        bottom: 0;
        padding-left: 3vw;
      }

      .icon-text {
        display: flex;
        align-items: center;
        margin-top: 3vh;
        margin-bottom: 3vh;
      }

      h1 {
        margin-top: 1vh;
        margin-bottom: 3vh;
      }

      p {
        margin-top: 3vh;
        margin-bottom: 3vh;
      }

      .tech {
        padding: 1vh;
      }

      .tech-time {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <el-container>
        <el-aside width="20vw">
          <el-menu default-active="1" class="sidebar">
            <el-menu-item index="1" v-on:click="showPage('overview')">
              <span>概览</span>
            </el-menu-item>

            <el-menu-item index="2" v-on:click="showPage('economic_history')">
              <span>经济</span>
            </el-menu-item>

            <el-sub-menu index="3">
              <template #title>
                <span>人口</span>
              </template>
              <el-menu-item index="3-1" v-on:click="showPage('pop_size')">
                <span>人口规模</span>
              </el-menu-item>
              <el-menu-item index="3-2" v-on:click="showPage('unity')">
                <span>凝聚力储量及月收入</span>
              </el-menu-item>
            </el-sub-menu>

            <el-sub-menu index="4">
              <template #title>
                <span>科技</span>
              </template>
              <el-menu-item index="4-1" v-on:click="showPage('research_points_income')">
                <span>研究点数月收入</span>
              </el-menu-item>
              <el-menu-item index="4-2" v-on:click="showPage('technologies')">
                <span>已研究科技</span>
              </el-menu-item>
            </el-sub-menu>

            <el-menu-item index="5" v-on:click="showPage('diplomatic_history')">
              <span>外交</span>
            </el-menu-item>

            <el-sub-menu index="6">
              <template #title>
                <span>军事</span>
              </template>
              <el-menu-item index="6-1" v-on:click="showPage('naval_size_capacity')">
                <span>海军规模与容量</span>
              </el-menu-item>
              <el-menu-item index="6-2" v-on:click="showPage('fleets')">
                <span>海军舰队</span>
              </el-menu-item>
              <el-menu-item index="6-3" v-on:click="showPage('wars')">
                <span>战争</span>
              </el-menu-item>
            </el-sub-menu>

          </el-menu>
        </el-aside>

        <!-- overview begin -->
        <el-main id="overview" v-if="currentPage==='overview'">
          {% include "overview.html" %}
        </el-main>
        <!-- overview end -->

        <!-- economic history begin -->
        <el-main id="economic_history" v-if="currentPage==='economic_history'">
          {% include "economic_history.html" %}
        </el-main>
        <!-- economic history end -->

        <!-- demographic history begin -->
        <el-main id="demographic_history_pop_size" v-if="currentPage==='pop_size'">
          {% include "demographic_history_pop_size.html" %}
        </el-main>

        <el-main id="demographic_history_unity" v-if="currentPage==='unity'">
          {% include "demographic_history_unity.html" %}
        </el-main>
        <!-- demographic history end -->

        <!-- scientific history begin -->
        <el-main id="scientific_history_research_points_income" v-if="currentPage==='research_points_income'">
          {% include "scientific_history_research_points_income.html" %}
        </el-main>

        <el-main id="scientific_history_techs" v-if="currentPage==='technologies'">
          {% include "scientific_history_techs.html" %}
        </el-main>
        <!-- scientific history end -->

        <!-- diplomatic history begin -->
        <el-main id="diplomatic_history" v-if="currentPage==='diplomatic_history'">
          {% include "diplomatic_history.html" %}
        </el-main>
        <!-- diplomatic history end -->

        <!-- military history begin -->
        <el-main id="military_history_naval_size_capacity" v-if="currentPage==='naval_size_capacity'">
          {% include "military_history_naval_size_capacity.html" %}
        </el-main>
        <el-main id="military_history_fleets" v-if="currentPage==='fleets'">
          {% include "military_history_fleets.html" %}
        </el-main>
        <el-main id="military_history_wars" v-if="currentPage==='wars'">
          {% include "military_history_wars.html" %}
        </el-main>
        <!-- military history end -->
      </el-container>
    </div>

    <script>
      const { createApp } = Vue;
      const app = Vue.createApp({
        data() {
          return {
            currentPage: "overview",
          };
        },
        methods: {
          showPage(page) {
            this.currentPage = page;
          },
        },
      });
      app.use(ElementPlus).mount("#app");

      // 监听消息事件，更新战争页面的 iframe 的高度为子文档发送的高度
      window.addEventListener('message', function (e) {
        // if (e.origin === 'null' && e.source === iframe.contentWindow) {
        if (e.origin === 'null' && e.data.identifier === 'wars') {
          const iframe = document.getElementById('wars');
          iframe.style.height = e.data.wars_height + 'px';
        }
      });
    </script>
  </body>
</html>
