<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>多折线图</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
  </head>
  <body>
    <div
      id="chart"
      class="chart-container"
      style="width: 900px; height: 500px"
    ></div>
    <script>
      var chart = echarts.init(
        document.getElementById("chart"),
        "white",
        { renderer: "canvas" }
      );
      var opt = {
        animation: true,
        animationThreshold: 2000,
        animationDuration: 1000,
        animationEasing: "cubicOut",
        animationDelay: 0,
        animationDurationUpdate: 300,
        animationEasingUpdate: "cubicOut",
        animationDelayUpdate: 0,
        aria: {
          enabled: false,
        },
        color: [],
        series: [],
        legend: [],
        tooltip: {
          show: true,
          trigger: "item",
          triggerOn: "mousemove|click",
          axisPointer: {
            type: "line",
          },
          showContent: true,
          alwaysShowContent: false,
          showDelay: 0,
          hideDelay: 100,
          enterable: false,
          confine: false,
          appendToBody: false,
          transitionDuration: 0.4,
          textStyle: {
            fontSize: 14,
          },
          borderWidth: 0,
          padding: 5,
          order: "seriesAsc",
        },
        xAxis: [
          {
            show: true,
            scale: false,
            nameLocation: "end",
            nameGap: 15,
            gridIndex: 0,
            axisLabel: {
              show: true,
              rotate: 15,
              margin: 8,
            },
            inverse: false,
            offset: 0,
            splitNumber: 5,
            minInterval: 0,
            splitLine: {
              show: true,
              lineStyle: {
                show: true,
                width: 1,
                opacity: 1,
                curveness: 0,
                type: "solid",
              },
            },
            data: []
          },
        ],
        yAxis: [
          {
            show: true,
            scale: true,
            nameLocation: "end",
            nameGap: 15,
            gridIndex: 0,
            inverse: false,
            offset: 0,
            splitNumber: 5,
            minInterval: 0,
            splitLine: {
              show: true,
              lineStyle: {
                show: true,
                width: 1,
                opacity: 1,
                curveness: 0,
                type: "solid",
              },
            },
          },
        ],
        title: [
          {
            show: true,
            text: "",
            target: "blank",
            subtarget: "blank",
            padding: 5,
            itemGap: 10,
            textAlign: "auto",
            textVerticalAlign: "auto",
            triggerEvent: false,
          },
        ],
        toolbox: {
          show: true,
          orient: "horizontal",
          itemSize: 15,
          itemGap: 10,
          left: "80%",
          feature: {
            saveAsImage: {
              type: "png",
              backgroundColor: "white",
              connectedBackgroundColor: "#fff",
              show: true,
              title: "保存为图片",
              pixelRatio: 2,
            },
            restore: {
              show: true,
              title: "还原",
            },
            dataZoom: {
              show: true,
              title: {
                zoom: "区域缩放",
                back: "区域缩放回退",
              },
              icon: {},
              filterMode: "filter",
            },
          },
        },
      };

      // 从模板中读取配置
      config = {{ config }};

      // 填入数据
      opt.title[0].text = config.title;
      opt.color = config.colors;
      opt.xAxis[0].data = config.x;

      series_template = {
        type: "line",
        name: "",
        connectNulls: false,
        xAxisIndex: 0,
        symbolSize: 4,
        showSymbol: false,
        smooth: true,
        clip: true,
        step: false,
        data: [],
        hoverAnimation: true,
        label: {
          show: true,
          margin: 8,
        },
        logBase: 10,
        seriesLayoutBy: "column",
        lineStyle: {
          show: true,
          width: 1,
          opacity: 1,
          curveness: 0,
          type: "solid",
        },
        areaStyle: {
          opacity: 0,
        },
        zlevel: 0,
        z: 0,
      };

      legend_template = {
        data: [],
        x: "center",
        y: "0%",
        selected: {},
        show: true,
        padding: 5,
        itemGap: 10,
        itemWidth: 25,
        itemHeight: 14,
        backgroundColor: "transparent",
        borderColor: "#ccc",
        borderWidth: 1,
        borderRadius: 0,
        pageButtonItemGap: 5,
        pageButtonPosition: "end",
        pageFormatter: "{current}/{total}",
        pageIconColor: "#2f4554",
        pageIconInactiveColor: "#aaa",
        pageIconSize: 15,
        animationDurationUpdate: 800,
        selector: false,
        selectorPosition: "auto",
        selectorItemGap: 7,
        selectorButtonGap: 10,
      };

      this_legend = JSON.parse(JSON.stringify(legend_template));
      legend_idx = {};
      cur_idx = 0;
      for (let i = 0; i < config.data.length; ++i) {
        this_series = JSON.parse(JSON.stringify(series_template));
        this_series.name = config.data[i].name;
        this_series.data = config.data[i].data;
        opt.series.push(this_series);
        this_legend.data.push(config.data[i].name);
        legend_idx[config.data[i].name] = cur_idx;
        if (this_legend.data.length == 4) {
          opt.legend.push(this_legend);
          this_legend = JSON.parse(JSON.stringify(legend_template));
          this_legend.y = 6 * opt.legend.length + "%";
          ++cur_idx;
        }
      }
      if (this_legend.data.length > 0) {
        opt.legend.push(this_legend);
      }

      chart.setOption(opt);


      // 点击选中的图例时，取消其他图例的选中状态；
      // 点击未被选中的图例时，选中该图例
      chart.on("legendselectchanged", function (params) {
        new_opt = this.getOption();
        // if (new_opt.legend[legend_idx[params.name]].selected[params.name]) {
        //   return;
        // }
        
        for (let i = 0; i < new_opt.series.length; ++i) {
          if (new_opt.series[i].name != params.name) {
            new_opt.legend[legend_idx[new_opt.series[i].name]].selected[new_opt.series[i].name] = false;
          }
        }
        new_opt.legend[legend_idx[params.name]].selected[params.name] = true;
        this.setOption(new_opt);
      });
    </script>
  </body>
</html>
