<h1>{{ name }}史</h1>
<p>2200 - {{ end_date[:4] }}</p>
<p>{{ government_name }} {{ personality }}</p>
<div class="icon-text">
  <span>主流思潮:&nbsp;</span>
  {% for ethic in ethics %}
  <img src="{{ ethic[1] }}" />
  <span>&nbsp;{{ ethic[0] }}&emsp;</span>
  {% endfor %}
</div>

<div class="icon-text">
  <span>起源:&nbsp;</span>
  <img src="{{ origin[1] }}" />
  <span>&nbsp;{{ origin[0] }}</span>
</div>
<p>母星系: {{ home_system }}</p>
<p>母星: {{ home_world_class }} {{ home_world }}</p>
<p>创始物种: {{ species }}</p>
