<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>研究点数月收入</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script type="text/javascript" src="./research_points_income.js"></script>
  </head>
  <body>
    <div
      id="research_point_income"
      class="chart-container"
      style="width: 900px; height: 500px"
    ></div>
    <script>
      var chart_research_points_income = echarts.init(
        document.getElementById("research_point_income"),
        "white",
        { renderer: "canvas" }
      );
      var option_research_point_income = {
        animation: true,
        animationThreshold: 2000,
        animationDuration: 1000,
        animationEasing: "cubicOut",
        animationDelay: 0,
        animationDurationUpdate: 300,
        animationEasingUpdate: "cubicOut",
        animationDelayUpdate: 0,
        aria: {
          enabled: false,
        },
        color: [
          "#359db6",
          "#53b977",
          "#df8c4c"
        ],
        series: [
          {
            type: "line",
            name: "物理学研究",
            connectNulls: false,
            xAxisIndex: 0,
            symbolSize: 4,
            showSymbol: false,
            smooth: true,
            clip: true,
            step: false,
            data: [],
            hoverAnimation: true,
            label: {
              show: true,
              margin: 8,
            },
            logBase: 10,
            seriesLayoutBy: "column",
            lineStyle: {
              show: true,
              width: 1,
              opacity: 1,
              curveness: 0,
              type: "solid",
            },
            areaStyle: {
              opacity: 0,
            },
            zlevel: 0,
            z: 0,
          },
          {
            type: "line",
            name: "社会学研究",
            connectNulls: false,
            xAxisIndex: 0,
            symbolSize: 4,
            showSymbol: false,
            smooth: true,
            clip: true,
            step: false,
            data: [],
            hoverAnimation: true,
            label: {
              show: true,
              margin: 8,
            },
            logBase: 10,
            seriesLayoutBy: "column",
            lineStyle: {
              show: true,
              width: 1,
              opacity: 1,
              curveness: 0,
              type: "solid",
            },
            areaStyle: {
              opacity: 0,
            },
            zlevel: 0,
            z: 0,
          },
          {
            type: "line",
            name: "工程学研究",
            connectNulls: false,
            xAxisIndex: 0,
            symbolSize: 4,
            showSymbol: false,
            smooth: true,
            clip: true,
            step: false,
            data: [],
            hoverAnimation: true,
            label: {
              show: true,
              margin: 8,
            },
            logBase: 10,
            seriesLayoutBy: "column",
            lineStyle: {
              show: true,
              width: 1,
              opacity: 1,
              curveness: 0,
              type: "solid",
            },
            areaStyle: {
              opacity: 0,
            },
            zlevel: 0,
            z: 0,
          },
        ],
        legend: [
          {
            data: [
              // {
              //   name: "物理学研究",
              //   icon: "path://M160 100 c0 -5 6 -10 14 -10 9 0 12 -7 9 -20 -8 -31 -43 -26 -43 6 0 22 -3 25 -22 20 -13 -3 -36 -6 -52 -6 -36 0 -30 -9 9 -12 19 -2 34 -12 44 -30 21 -37 62 -38 81 -3 7 14 23 26 34 26 46 3 51 5 54 22 4 18 -13 24 -23 7 -3 -5 -17 -10 -31 -10 -13 0 -24 5 -24 10 0 6 -11 10 -25 10 -14 0 -25 -4 -25 -10z",
              // },
              // {
              //   name: "社会学研究",
              //   icon: "image://./society_research.webp",
              // },
              // {
              //   name: "工程学研究",
              //   icon: "image://./engineering_research.webp",
              // },
              "物理学研究",
              "社会学研究",
              "工程学研究",
            ],
            selected: {},
            show: true,
            padding: 5,
            itemGap: 10,
            itemWidth: 25,
            itemHeight: 14,
            backgroundColor: "transparent",
            borderColor: "#ccc",
            borderWidth: 1,
            borderRadius: 0,
            pageButtonItemGap: 5,
            pageButtonPosition: "end",
            pageFormatter: "{current}/{total}",
            pageIconColor: "#2f4554",
            pageIconInactiveColor: "#aaa",
            pageIconSize: 15,
            animationDurationUpdate: 800,
            selector: false,
            selectorPosition: "auto",
            selectorItemGap: 7,
            selectorButtonGap: 10,
          },
        ],
        tooltip: {
          show: true,
          trigger: "item",
          triggerOn: "mousemove|click",
          axisPointer: {
            type: "line",
          },
          showContent: true,
          alwaysShowContent: false,
          showDelay: 0,
          hideDelay: 100,
          enterable: false,
          confine: false,
          appendToBody: false,
          transitionDuration: 0.4,
          textStyle: {
            fontSize: 14,
          },
          borderWidth: 0,
          padding: 5,
          order: "seriesAsc",
        },
        xAxis: [
          {
            show: true,
            scale: false,
            nameLocation: "end",
            nameGap: 15,
            gridIndex: 0,
            axisLabel: {
              show: true,
              rotate: 15,
              margin: 8,
            },
            inverse: false,
            offset: 0,
            splitNumber: 5,
            minInterval: 0,
            splitLine: {
              show: true,
              lineStyle: {
                show: true,
                width: 1,
                opacity: 1,
                curveness: 0,
                type: "solid",
              },
            },
            data: [],
          },
        ],
        yAxis: [
          {
            show: true,
            scale: true,
            nameLocation: "end",
            nameGap: 15,
            gridIndex: 0,
            inverse: false,
            offset: 0,
            splitNumber: 5,
            minInterval: 0,
            splitLine: {
              show: true,
              lineStyle: {
                show: true,
                width: 1,
                opacity: 1,
                curveness: 0,
                type: "solid",
              },
            },
          },
        ],
        title: [
          {
            show: true,
            text: "\u7814\u7a76\u70b9\u6570\u6708\u6536\u5165",
            target: "blank",
            subtarget: "blank",
            padding: 5,
            itemGap: 10,
            textAlign: "auto",
            textVerticalAlign: "auto",
            triggerEvent: false,
          },
        ],
        toolbox: {
          show: true,
          orient: "horizontal",
          itemSize: 15,
          itemGap: 10,
          left: "80%",
          feature: {
            saveAsImage: {
              type: "png",
              backgroundColor: "white",
              connectedBackgroundColor: "#fff",
              show: true,
              title: "\u4fdd\u5b58\u4e3a\u56fe\u7247",
              pixelRatio: 2,
            },
            restore: {
              show: true,
              title: "\u8fd8\u539f",
            },
            dataView: {
              show: false,
              title: "\u6570\u636e\u89c6\u56fe",
              readOnly: false,
              lang: [
                "\u6570\u636e\u89c6\u56fe",
                "\u5173\u95ed",
                "\u5237\u65b0",
              ],
              backgroundColor: "#fff",
              textareaColor: "#fff",
              textareaBorderColor: "#333",
              textColor: "#000",
              buttonColor: "#c23531",
              buttonTextColor: "#fff",
            },
            dataZoom: {
              show: true,
              title: {
                zoom: "\u533a\u57df\u7f29\u653e",
                back: "\u533a\u57df\u7f29\u653e\u56de\u9000",
              },
              icon: {},
              filterMode: "filter",
            },
            magicType: {
              show: false,
              title: "\u6570\u636e\u89c6\u56fe",
              readOnly: false,
              lang: [
                "\u6570\u636e\u89c6\u56fe",
                "\u5173\u95ed",
                "\u5237\u65b0",
              ],
              backgroundColor: "#fff",
              textareaColor: "#fff",
              textareaBorderColor: "#333",
              textColor: "#000",
              buttonColor: "#c23531",
              buttonTextColor: "#fff",
            },
            brush: {
              show: false,
              title: {
                zoom: "\u533a\u57df\u7f29\u653e",
                back: "\u533a\u57df\u7f29\u653e\u8fd8\u539f",
              },
              icon: {},
              filterMode: "filter",
            },
          },
        },
      };

      option_research_point_income["xAxis"][0]["data"] = {{ resource_income_dates }};
      option_research_point_income["series"][0]["data"] = {{ physics_research }};
      option_research_point_income["series"][1]["data"] = {{ society_research }};
      option_research_point_income["series"][2]["data"] = {{ engineering_research }};
      
      chart_research_points_income.setOption(option_research_point_income);
    </script>
  </body>
</html>
