.el-main {
    position: absolute;
    left: 20vw;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .icon-text {
    display: flex;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  
  h1 {
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
  
  p {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  